body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ccc;
}
div,
body {
  box-sizing: border-box;
}
.flexbox {
  display: flex;
  background-color: #fff;
  flex-flow: row wrap;
  border: 2px solid #000;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;/**con solo una linea **/
 /** align-content:center ;**/
  height: 100px;
}
.flex-item {

  width: 100px;
  color: #fff;
  font-size: 40px;
  background-color: red;
  text-align:center;
  border: 2px solid black;

}
.flex-item:first-child {
  background-color: #f77;

}
.flex-item:last-child {
  background-color: black;


}
