body{
    margin: 0;
    font-family: sans-serif;
}
.box{
    width: 120px;
    height: 120px;
    background-color: #f00;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    transition-property: left;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(0,.93,.09,.99);
    color: red;
    position: relative;
    left: 0;
}

/*AL pasar el mouse por encima*/
body:hover .box{
    left: 400px;


}