div{
    box-sizing: border-box;
}

.box{
    margin: 20px;
    background-color: #fff;
    border: 4px solid #48e;
    padding: 6px;
    border-radius: 39px;
    transition: border 1s;/* tiempo creacion borde*/
    
}

.barra{
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 10%;
  /*  transition: width .5s steps(30), background-color .5s steps(30);*/
    transition: width .5s , background-color .5s ;
}
.barra:active{
    width: 100%;
    transition-duration: 3s;
    background-color: #f33 ;
}

.box:has(.barra:active){
    border: 4px solid #f33;
    transition-duration: 3s ;
}

/*Para cuando se activa la opcion, para anular
animaciones, para las personas sensibles a las animaciones*/
@media (prefers-reduced-motion: reduce){
    .barra, .box{
        animation: none;
    }
}