*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.box{
    font-size: 30px;
    padding: 0 40px;
   
}
p::first-letter{
    initial-letter: 3 1;
    padding: 10px;
    padding-bottom: 0;
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 10px  5px black;
}

