body{
    margin: 0;
    font-family: sans-serif;
}

.grid{
display: grid;
height: 70vh;
/* grid-template-columns: repeat(4,1fr 2fr);*/
grid-template-columns: repeat(2,200px);;
grid-template-rows:repeat(2,200px);

}
.grid-item{
    background-color: #48e;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color:#fff ;
}

