body{
    margin: 0;
    font-family: sans-serif;
    background: #222;
    color: #eee;
}
form{
    background:transparent;
    padding: 10px 20px;
    max-width: 500px;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
}


.form_input{
    padding: 6px 20px;


}

input,textarea,select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 2px solid #666666;
    box-shadow: 0px 0px 15px #0001;
    background-color: transparent;
    color: #eee;
    margin: 6px 0;
}
fieldset{
    margin: 10px 0;
    border: 1px solid #ddd6;
    border-radius: 15px;
}
legend{
    padding: 0 6px;
    border: 1px solid #fff;
    background-color: aliceblue;
    color: hsl(313, 74%, 51%);

}

