.box{
    width: 100px;
    height: 100px;
    background:rgb(100,33,255);
    margin: 20px;
}
.colorHexa{

   padding: 10px;
   background:#00ff008f;/*ultima pareja de 
   numeros, opacidad. Hablando del resto de numeros
   pueden ir en parejas o solo un numero*/
   margin: 20px;
text-align: center;
color: white;
}

.otraFormaColorear{
    background: hsl(316, 63%, 74%);
}