*{
    box-sizing: border-box;
}


/*Otra manera de representar
la variable de forma global*/
:root {
    --tercer-color: rgb(30, 30, 161);
    --alto-del-box: 600px;
}


body {
    margin: 0;
    font-family: sans-serif;
   

}

.box {
    
    font-size: 30px;
    padding: 0 40px;
    font-size: clamp(2.4rem,2vw,4rem);
    border:6px solid #000;
   
   

}

.box:first-child{
    height: var(--alto-del-box);
}
.box:nth-child(2){
    height: calc(100vh - var(--alto-del-box));
    overflow: auto;
}
