body{
    margin: 0;
    background-color: #ccc;
    height: 200vh;
    scroll-timeline-name: --body;
    scroll-timeline-axis: block;
    /* redudido
    scroll-timeline: --body block
    */
}
*{
    box-sizing: border-box;
}

div{
    box-sizing: border-box;
} 

.crecedor {
    height: 100vh;
}

.box {
    height: 500px;
    view-timeline: --cajita block;
    background-color: #48e;
    padding: 20px;
    animation: llenar-barra both;
    animation-timeline: --cajita;
    animation-timing-function: linear;
    animation-range-start: cover -20%;
    animation-range-end: contain 100%;
}






@keyframes llenar-barra{
    from{
        opacity: 0%;
       
    }
    to{
        opacity: 100%;
        background-color: #f33;
    }


}
